*,
*::before,
*::after
{
    margin: 0;
    padding:2px;
    box-sizing:inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 239, 239);
    font-family: 'Titillium Web', sans-serif;
}

.theMainDiv {
    display: flex;
    width: 85%;
    margin: 0 auto;
    border: 0px solid black;
    align-items: center;
    padding: 20px;
}

div {
    border: 0px solid black;
    padding:2px;
    /* height: 200px; */
    /* width: 200px; */
}
section {
    display: flex;
    flex-direction: column;
}

.ticker {
    width: 100%;
}

/* Will not be needed later */
.language-and-country-selector-parent-div {
    width: 50%;
}

.parent-of-test1-and-login-and-signup-forms{
    display: flex;
}
.test1{
    width: 30%;
}

.login-and-signup-forms {
    width: 70%
}

.divSourceNameAndSaveForLaterButton{
    width: 80%;
    display: flex;
}
.source-name {
    width: 20%
}

.saveForLaterButton {
    /* padding: 0px 10px 0px 0px; */
    width: 40%
}

.nearly-everything {
    width: 100%;
    display: flex;
}

.left-articles-titles {
    padding:2px;
    width: 50%;
}

.oneArticleDiv {
    padding: 5px 2px 5px 2px;
    width: 85%;
    line-height: 28px;
    /* margin: 0 auto */

}

.right-article-details {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.image {
    width: 100%;
}

.the-image-class {
    max-width: 600px;
}

.text {
    width: 100%;
}

.source-link {
    width: 100%;
}


/* 

    <section>
    <div class='ticker'></div>
    <div class='language-country'></div>
    <div class='nearly-everything'>
        <div class='left-articles-titles'>
            <ul class='articles'></ul>
            <a href="" class='more-btn'> </a>
        </div>
        <div class='right-article-details'>
            <div class='image'></div>
            <div class='text'></div>
            <div class='source-link'></div>
        </div>
    </div>
</section> */