*,
*::before,
*::after
{
    margin: 0;
    padding:1px;
    box-sizing:inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 239, 239);
    font-family: 'Titillium Web', sans-serif;
}

.theMainDiv {
    display: flex;
    width: 85%;
    margin: 0 auto;
    border: 0px solid black;
    align-items: center;
    padding: 20px;
}

div {
    border: 0px solid black;
    padding:2px;
    /* height: 200px; */
    /* width: 200px; */
}
section {
    display: flex;
    flex-direction: column;
}

.ticker {
    width: 100%;
    padding: 10px 0px 10px 0px;
    background-color: rgb(91, 91, 190);
}

/* Will not be needed later */
.language-and-country-selector-parent-div {
    width: 50%;
}

.parent-of-test1-and-login-and-signup-forms{
    display: flex;
}
.test1{
    width: 30%;
    visibility: visible
}

.login-and-signup-forms {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.login-and-signup-initiator-buttons{
    display:flex;
    width: 85%;
    direction: rtl;
}

#user-login-form {
    visibility: hidden;
}

#new-user-form {
    visibility: hidden;
}

#initiatorLogoutButton {
    visibility: hidden;
}

#initiatorLoginButton {
    visibility: visible
}

#initiatorSignupButton {
    visibility: visible
}

.divSourceNameAndSaveForLaterButton{
    width: 35%;
    display: flex;
    justify-content: space-between;
}


.source-name {
    /* width: 20% */
}

.saveForLaterButton {
    /* padding: 0px 10px 0px 0px; */
    /* width: 40%; */
    font-size: 13px;
    color:blue;
}

.nearly-everything {
    width: 100%;
    display: flex;
}

.left-articles-titles {
    padding:2px;
    width: 50%;
}

.oneArticleDiv {
    padding: 5px 2px 5px 2px;
    width: 85%;
    line-height: 28px;
    /* margin: 0 auto */

}

.right-article-details {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.image {
    width: 100%;
}

.the-image-class {
    max-width: 100%;
}

.checkMark{
    width: 10%;
}

.text {
    width: 100%;
}

.source-link {
    width: 100%;
}

/* ====More Button below */
.more-btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #e4ddda;
    border: 1px solid blue;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 6px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    visibility: hidden;
  }
  
  .more-btn span {
    cursor: pointer;
    color: black;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .more-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .more-btn:hover span {
    padding-right: 25px;
  }

/* == Submit selection button========= */
.submit-selection-btn {
    border: 1px solid blue;
    display: inline-block;
    border-radius: 4px;
    background-color: #e4ddda;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 6px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .submit-selection-btn span {
    cursor: pointer;
    color: black;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .submit-selection-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .submit-selection-btn:hover span {
    padding-right: 25px;
  }
  /* LOGIN | SIGNUP BUTTON ===== */

.Button-Login-Signup-Logout-Visible-Toggle{
    visibility: visible;
    border: 1px solid blue;
    display: inline-block;
    border-radius: 4px;
    background-color: #e4ddda;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 6px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
.Button-Login-Signup-Logout-Visible-Toggle span {
    cursor: pointer;
    color: black;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.Button-Login-Signup-Logout-Visible-Toggle span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.Button-Login-Signup-Logout-Visible-Toggle:hover span {
    padding-right: 25px;
  }

  /* Ticket Experimentation */
  /* ======== */
  